@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


#about section {
    padding-top: 50px;
}

#portfolio section {
    padding-top: 50px;
}

#portfolio .sub-header {
    color: white;
}

#contact .header {
    padding: 50px;
}

#contact .main-section {
    background: 
    linear-gradient(180deg, rgba(17,17,17,1) 10%, rgba(17,17,17,0) 50%),
    linear-gradient(90deg, rgba(17,17,17,0.8) 0%, rgba(87,31,42,1) 30%, rgba(66,19,53,1) 70%, rgba(17,17,17,1) 100%);
    background-position: center;
    background-size: 1080px auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#contact .sub-header {
    color: white;
}

#contact .form-container form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    animation:1s ease 2s normal forwards 1 fadein;
    -webkit-animation:3s ease 4s normal forwards 1 fadein;
    opacity:0
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}

#contact .form-container form > input {
    background-color: transparent;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    border-right: none;
    border-left: none;
    border-top: none;
    color: white;
    padding-top: 20px;
    
}

#contact .form-container form > textarea {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    padding-top: 20px;
    
}

#contact .form-container form button {
    width: 170px;
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    
    justify-content: center;
    background-color: rgb(117, 115, 115);
    border-radius: 40px;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    margin-top: 100px;
    border: none;
}



.form-container {
    width: 500px;
    height: 600px;
    background-color: black;
    padding: 30px;
    margin-bottom: 150px;
    margin-top: 30px;
    border-radius: 20px;
    animation:1s ease 2s normal forwards 1 fadein;
    -webkit-animation:3s ease 4s normal forwards 1 fadein;
    opacity:0
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'General Sans', sans-serif;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
}

img {
    border: none;
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    animation:1s ease 2s normal forwards 1 fadein;
    -webkit-animation:1s ease 1.9s normal forwards 1 fadein;
    opacity:0
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}

.main-div {
    height: 150px;
    display: flex;
    border:  none;
    text-align: center;
    align-items: center;
    justify-content:center;
    flex-wrap: nowrap;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1080px;
    border: none;
    padding-top: 150px;
}



.effect { 
    padding-top: 0px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    border: none; 
}

span {
    display: inline-block;
    font-size: calc(7rem + 0.9vw)
}

span:first-child {
    font-family: 'General Sans' sans-serif;
}

.text-effect1 p {
    border: none;
    padding-left: 20px;
    transform: scaleY(0);
    animation: scaleUpBorder 1s forwards cubic-bezier(0.85, 0, 0.15, 1);
    overflow: hidden;
    display: flex;
}

.text-effect1::before {
    content: '';
    display:inline-block;
    width: 12px;
    height: 122px;
    background: linear-gradient(180deg, rgba(167,16,212,1) 27%, rgba(219,13,148,1) 54%, rgba(255,0,0,1) 100%);
    animation: fadeLine 1s forwards cubic-bezier(0.85, 0, 0.15, 1), 2s scaleUpLine 1s forwards cubic-bezier(0.85, 0, 0.15, 1);
    margin-right: 20px;
    overflow: hidden;
}

@keyframes fadeLine {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes scaleUpLine {
    0% {
        transform: skew(0deg);
    }
    100% {
        transform: skew(-12deg);
    }
}

@keyframes scaleUpBorder {
    to {
        transform: scaleY(1);
    }
}

.sub-header {
    width: 700px;
    font-size: 1.5rem;
    color: #c3e88d;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: fit-content;
    padding: 15px;
    text-align: center;
    animation:1s ease 2s normal forwards 1 fadein;
    -webkit-animation:3s ease 4s normal forwards 1 fadein;
    opacity:0
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}

.text-effect1 .text-wrapper {
    transform: translateX(-92%);
    animation: slideTextRight 0.7s 2.5s forwards cubic-bezier(0.85, 0, 0.15, 1);
}

@keyframes slideTextRight {
    to {
        transform: translateX(0%);
    }
}

.text-wrapper {
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    background-color: #222;
    height: 30px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    animation:1s ease 2s normal forwards 1 fadein;
    -webkit-animation:3s ease 4s normal forwards 1 fadein;
    opacity:0
}

.nav-container {
    width: 1080px;
    background-color: #222;
    height: 30px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between; 
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}


nav h3 {
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-weight: 300;
    padding-left: 30px;
}

nav ul {
    display: flex;
    gap: 50px;
    font-size: 1.3rem;
    list-style: none;
    font-family: 'Source Code Pro', monospace;
    padding-right: 30px

}

nav a {
    color: white;
    text-decoration: underline rgb(68, 68, 68) 0.3px;
    text-underline-position: under;
    cursor: pointer;
}

nav a:hover {
    color: white;
    text-decoration: underline rgb(68, 68, 68) 0.3px;
    text-underline-position: under;
    cursor: pointer;
    color: rgb(255, 185, 55);
}

nav h3 a {
    text-decoration: none;
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: black;
    animation:1s ease 2s normal forwards 1 fadein;
    -webkit-animation:3s ease 4s normal forwards 1 fadein;
    opacity:0
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}


.footer-main {
    height: 100%;
    width: 1080px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.footer-up {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-down {
    width: 100%;
    height: 30%;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.footer-down p {
    font-size: 1rem;
    padding-left: 23px;
    font-weight: 100;
}

.footer-icons > a {
    padding: 10px;
    font-size: 2rem;
    text-decoration: none;
    color: azure;  
}

.footer-form {
    width: 60%;
    text-align: left;
    padding: 20px;
}

.footer-form input {
    background-color: transparent;
    height: 50px;
    width: 400px;
    border: 1px solid grey;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    padding-left: 10px;
    margin-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.footer-form button {
    width: 100px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.footer-form label {
    font-size: 1.8rem;
}

.footer-up ul {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    list-style: none;
    padding-right: 20px;
    line-height: 1.5;
    font-weight: 200;
}

.footer-up a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
}

.fa-heart {
    color: red;
    padding: 4px;
    
}

.main-section {
    height: 300px;
}


/* Media section - start*/



@media only screen and (max-width: 600px) {
    
    img {
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    span {
        display: inline-block;
        font-size: calc(2.8rem + 0.9vw)
    }
     
    .text-effect1::before {
        width: 6px;
        height: 65px;
    }
    
    .sub-header {
        width: 300px;
        font-size: 1.6rem;
    }

    nav ul {
        display: flex;
        gap: 10px;
        font-size: 0.9rem;
        list-style: none;
        font-family: 'Source Code Pro', monospace;
        padding-right: 15px;
    }
    
    nav h3 {
        font-size: 1rem;
        font-family: 'Poppins';
        font-weight: 300;
        padding-left: 15px;
    }

    #contact .form-container form {
        gap: 20px;
        animation:1s ease 2s normal forwards 1 fadein;
        -webkit-animation:3s ease 4s normal forwards 1 fadein;
        opacity:0;
        
    }

    @keyframes fadein{from{opacity:0}
    to{opacity:1}
    }

    @-webkit-keyframes fadein{from{opacity:0}
    to{opacity:1}
    }

    #contact .form-container form > input {
        height: 30px;
        font-size: 1rem;
        padding-top: 30px;
    }
    
    #contact .form-container form > textarea {
        font-size: 1rem;
        padding-top: 30px;
    }
    
    #contact .form-container form button {
        display: flex;
        width: 100px;
        height: 35px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(117, 115, 115);
        border-radius: 40px;
        font-size: 1rem;
        color: white;
    }

    .form-container {
        width: 300px;
        height: 50git0px;
        padding: 20px;
    }

    footer {
        height: 600px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: black;
        animation:1s ease 2s normal forwards 1 fadein;
        -webkit-animation:3s ease 4s normal forwards 1 fadein;
        opacity:0
    }
    
    @keyframes fadein{from{opacity:0}
    to{opacity:1}
    }
    
    @-webkit-keyframes fadein{from{opacity:0}
    to{opacity:1}
    }
    
    .footer-main {
        height: 100%;
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    
    .footer-up {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 0;
        margin: 0;

    }

    .footer-form {
        text-align: left;
        width: 80%;
        padding-top: 50px;
        padding-bottom: 50px;
        flex-wrap: wrap;
    }
    
    .footer-form input {
        height: 70px;
        width: 200px;
        border: 1px solid grey;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 1.1rem;
        border-right: none;
    }
    
    .footer-form button {
        width: 100px;
        height: 70px;
        font-size: 1rem;
        border-left: none;
    }
    
    .footer-form label {
        font-size: 1.6rem;
    }



    .footer-down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

    .footer-down p {
        font-size: 1.1rem;
        padding-bottom: 40px;
    }

    .footer-icons > a {
        padding: 20px;
        font-size: 4rem;
        text-decoration: none;
        color: azure;  
    }

    #contact .main-section {
        width: 100%;
        height: 100%;
        
    
    }
}

/* Media session - end */